@font-face {
	font-family: 'fonts/Edmondsans-Bold';
	src:
		url('css/Edmondsans-Bold.otf');
}

@font-face {
	font-family: 'fonts/Edmonsans-Regular';
	src:
		url('css/Edmonsans-Regular.otf');
}

.main {
	padding-top: 350px;
	text-align: center;
	white-space: nowrap;
}

a {
  font-family: Edmondsans-Bold, sans-serif;
  text-transform: none;
  text-decoration: none;
  font-size: 80px;
}

#pick{
	font-family: Edmondsans-Regular, sans-serif;
	text-transform: none;
  text-decoration: none;
	font-size: 20px;
	color: #bbbbbb;
}

.stickyNav {
	text-align: center;
}

/*main page style*/

#excited {
  color: #f7546c;
}

#relaxed {
  color: #a3d8c9;
}

#stressed {
  color: #ffec39;
}

#grieved {
  color: #63a6ba;
}

/*video style*/

video{
	position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

video#excitedVid {
	opacity: 0.5;
  background: url(../images/blur.png) no-repeat;
  background-size: cover
}
video#grievedVid {
  background: url(../images/cloud.png) no-repeat;
  background-size: cover
}

video#relaxedVid {
  background: url(../images/ice.png) no-repeat;
  background-size: cover
}

video#stressedVid {
  background: url(../images/water.png) no-repeat;
  background-size: cover
}

/*circle style*/

.circles {
	z-index: -10;
	padding-top: 250px;
	text-align: center;
}

img {
	display: inline-block;
	margin-left: 150px;
	margin-right: 150px;
}

/*animation styles*/

.animation {
	z-index: -20;
	width: 15%;
	margin: auto;
}

#excitedCircle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #f7546c;
  position: relative;
  animation: excited .5s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes excited {
	0% {transform: translateY(0px);}
  50% {transform: translateY(-100px);}
  100% {transform: translateY(0px);}
}

#relaxedCircle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #86bdad;
  position: relative;
  animation: relaxed 8s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes relaxed {
	0% {left: -200px; transform: rotateZ(0deg);}
	50% {left: 200px; transform: rotateZ(360deg);}
  100% {left: -200px; transform: rotateZ(0deg);}
}

#grievedCircle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #88b2bf;
  position: relative;
  animation: grieved 10s;
  animation-iteration-count: 1;
  animation-play-state: running;
}

@keyframes grieved {
	0% {transform: translateY(0px);}
	100% {transform: translateY(1000px);}
}

#stressedCircle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #fff000;
  position: relative;
  animation: stressed 1s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes stressed {
	0% {transform: translateY(0px) translateX(0px);}
	10% {transform: translateY(5px) translateX(5px);}
	20% {transform: translateY(3px) translateX(-3px);}
	30% {transform: translateY(10px) translateX(-10px);}
	40% {transform: translateY(-7px) translateX(7px);}
	50% {transform: translateY(2px) translateX(-2px);}
	60% {transform: translateY(-3px) translateX(-3px);}
	70% {transform: translateY(1px) translateX(1px);}
	80% {transform: translateY(-6px) translateX(6px);}
	90% {transform: translateY(3px) translateX(3px);}
	100% {transform: translateY(-2px) translateX(-2px);}
}
